
        @import url('https://fonts.googleapis.com/css?family=Exo+2|Yatra+One');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Exo 2', sans-serif;
        }

        body {
            background:  rgb(12, 12, 71);
        }

        .wrapper {
            margin-top: 80px;
            text-align: center;
          
            
        }

        .wrapper h1 {
            font-family: 'Yatra One', cursive;
            font-size: 48px;
            color: #fff;
            margin-bottom: 25px;
            
            
        }

        .our_team {
            width: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: -10px;
          
        }

        .our_team .team_member {
            width: 250px;
            margin: 5px;
            background: #fff;
            padding: 20px 10px;
            background-color: cyan;
        }

        .our_team .team_member .member_img {
            background: #e9e5fa;
            max-width: 190px;
            width: 100%;
            height: 190px;
            margin: 0 auto;
            border-radius: 50%;
            padding: 5px;
            position: relative;
            cursor: pointer;
        }

        .our_team .team_member .member_img img {
            width: 100%;
            height: 100%;
            background-color: blue;
            border-radius: 50%;
        }

        .our_team .team_member h3 {
            text-transform: uppercase;
            font-size: 18px;
            line-height: 18px;
            letter-spacing: 2px;
            margin: 15px 0 0px;
        }

        .our_team .team_member span {
            font-size: 10px;
            
        }

        .our_team .team_member p {
            margin-top: 20px;
            font-size: 14px;
            line-height: 20px;
        }

        .our_team .team_member .member_img .social_media {
            position: absolute;
            top: 5px;
            left: 5px;
            background: blue;
            width: 95%;
            height: 95%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: scale(0);
            transition: all 0.5s ease;
        }

        .our_team .team_member .member_img .social_media .item {
            margin: 0 10px;
        }

        .our_team .team_member .member_img .social_media .fab {
            color: #8c7ae6;
            font-size: 20px;
        }

        .text {
            color: white;
        }

        nav {
            background-color: #3c2bd4;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 2;
        }

        .navbar {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .navbar li {
            display: inline-block;
            margin-right: 10px;
            margin-left: 30px;
        }

        .navbar li:last-child {
            margin-right: 0;
            
        }

        .navbar a {
            color: #fff;
            text-decoration: none;
            font-size: 24px;
        }

        .navbar b {
            margin-left: 20px;
        }

        .navbar-second {
            background-color: rgb(7, 7, 101);
            padding: 10px;
            margin-left: 10px;
          
        }

        .navbar-second li {
            display: inline-block;
            margin-right: 10px;
            margin-top: 25px;
            color: cyan;
            
        }

        .navbar-second li:last-child {
            margin-right: 0;
            color: black;
            color: cyan;
        }

        .navbar-second a {
            color: #000;
            text-decoration: none;
            font-size: 18px;
            color: cyan;
        }

        .my-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            background-color: rgb(12, 12, 71);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            margin-right: 40px;
            height: 80px;
            border-color: green;
        }

        .image-container {
            position: relative;
            height: 400px;
            overflow: hidden;
            margin-top: 10%;
            border-radius: 60px;
        }

        .image-container img {
            position: relative;
            top: 0;
            left: 0;
            width: 1300px;
            height: 520px;
            z-index: -1;
            transition: transform 0.3s ease-in-out;
           
        }
      
       
    